body {
  margin: 0;
  width: 100vw;
  background: #ff0000;

  #root {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-self: center;
    height: 100vh;
    background: #ff0000;

    h1 {
      margin: auto;
      text-align: center;
      max-width: 90vw;
    }
  }
}
